<ion-content padding center text-center>
    <ion-title></ion-title>
  <img src="./assets/imgs/logo.png" class="logo">
	<ion-list>
 	      <ion-item no-lines> 
	        <ion-input type="text" placeholder="Email" value="" [(ngModel)]="u" ></ion-input>
	      </ion-item>

	      <ion-item no-lines>
	        <ion-input type="password" placeholder="Password" value="" [(ngModel)]="p" ></ion-input>
	         
	      </ion-item>
	</ion-list>

    <div class="button_login">  
      <button ion-button class="login_btn" (click)="doLogin(u,p)" block>Login</button>
    </div>
</ion-content>
 