<ion-content padding center text-center>
    <ion-title></ion-title>
  <img src="./assets/imgs/logo.png" class="logo">
<p class="red">You have not marked 
    today's attendance </p> 

    <div class="button_login">  
      <button ion-button class="login_btn" (click)="openCamera()" block> <img src="./assets/imgs/mark.png" class="mark"> Mark attendance now </button>    
    </div>
</ion-content> 
