page-dashboard {
    ion-content{
        background: url("../assets/imgs/bg.png");
        background-size: cover;
    }
    ion-title *{
        margin-top: 20vh;
        margin-bottom: 5vh;  
    }
    .login_btn {
        background: #359909;
        font-size: 20px;
        padding: 28px;
        text-transform: capitalize;
    }
    img.logo {
        width: 230px;
        margin-bottom: 40px; 
    }
    .list-md .item-input:last-child, .list-ios .item-input:last-child {
        border-bottom: none;
    }
    ion-item{
        background:#fff !important;
        padding: 5px!important;
        border: solid 1px #e1e1e1!important;
        border-radius: 4px!important;
        margin: 10px 0 !important;
    }
    .red {
        font-size: 19px;
        color: red;
        padding: 30px 0;
    }
    .mark {
        width: 40px;
        padding: 10px; 
    }
}
