page-attendance {
    .header .toolbar-title,ion-navbar {
        color: #fff !important;
        background: #359909!important;
    }
    .toolbar-background {
        background: #459907;
        font-size: 19px;
    }
    .login_btn {
        background: #359909;
        font-size: 20px;
        padding: 28px;
        text-transform: capitalize;
    }
    .sub_btn {
        background: #898989;
        font-size: 20px;
        padding: 28px;
        text-transform: capitalize;
    }
    .sub_btn img {
        width: 40px;
        padding: 10px;
    }
    .login_btn img {
        width: 50px;
        padding: 10px;
    }
    .text_size{
        font-size:18px; 
    }
}
