<ion-header>
   <ion-navbar>
      <ion-title>Attendance</ion-title>
   </ion-navbar>
</ion-header>
<ion-content padding>
   <ion-grid>
      <ion-row>
         <ion-col>
            <div>
               <b class="text_size">Date:</b> {{date | date}}
            </div>
         </ion-col>
         <ion-col>
            <div>
               <b  class="text_size">Time:</b> {{date | date: "shortTime"}}
            </div>
         </ion-col>
      </ion-row>  
   </ion-grid>
   <ion-grid  id="mapLocationDiv">
      <ion-row>
         <ion-col>
            <div>    
               <b  class="text_size">Location:</b>    
               <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13669.671776950063!2d77.1866047!3d31.0702994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39057f5172088d0b%3A0x66dab5ec93d6776b!2sDepartment%20of%20Information%20Technology%2C%20IT%20Bhawan!5e0!3m2!1sen!2sin!4v1566647246894!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>  -->
               <div class="one" id="appendHere"></div>      
            </div>    
         </ion-col>
      </ion-row>
   </ion-grid>

   <ion-grid *ngIf="hasEmployees"> 
      <ion-row>
         <ion-col>
            <div> 
               <ion-list>   
                 <ion-item>   
                   <ion-label>Select Employee</ion-label>
                   <ion-select [(ngModel)]="emp">
                     <ion-option value="{{e.emp_code}}" *ngFor="let e of employees" >{{e.name}} - {{e.emp_code}}</ion-option>    
                   </ion-select>
                 </ion-item>
               </ion-list>
            </div>
         </ion-col>
      </ion-row>
   </ion-grid>    
   
   <div class="button_login">   
      <button ion-button class="login_btn" (click)="takePicture()" block> <img src="./assets/imgs/cam.png" class="mark"> Open Camera </button> 
   </div>
   <div class="button_login">  
      <button ion-button class="sub_btn" (click)="markAttendance(emp)" block> <img src="./assets/imgs/mark.png" class="mark"> Mark attendance now </button>
   </div>
   <img src="{{user_image}}">  
</ion-content>